@model Burialmain

<!-- Modal -->
<div class="modal fade" id="burialDetails-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="burialDetailsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="min-width: 1000px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="burialDetailsLabel">Burial Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="pb-4">Burial for @Model.Squarenorthsouth @Model.Northsouth @Model.Squareeastwest @Model.Eastwest @Model.Area @Model.Burialnumber</h5>

                <div class="container">

                    <div class="row">
                        <div class="col">
                            <p>@Model.Text</p>
                        </div>
                    </div>

                    <table class="table table-light bg-light table-custom">
                        <thead>
                            <tr>
                                <th scope="col">Age Range</th>
                                <th scope="col">Age at Death</th>
                                <th scope="col">Burial Id</th>
                                <th scope="col">Burial Materials</th>
                                <th scope="col">Expert Initials</th>
                                <th scope="col">Cluster</th>
                                <th scope="col">Date of Excavation</th>
                                <th scope="col">Depth</th>
                                <th scope="col">Excavation Reorder</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Adultsubadult</td>
                                <td>@Model.Ageatdeath</td>
                                <td>@Model.Burialid</td>
                                <td>@Model.Burialmaterials</td>
                                <td>@Model.Dataexpertinitials</td>
                                <td>@Model.Clusternumber</td>
                                <td>@Model.Dateofexcavation</td>
                                <td>@Model.Depth</td>
                                <td>@Model.Excavationrecorder</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-light bg-light table-custom">
                        <thead>
                            <tr>
                                <th scope="col">Face Bundles</th>
                                <th scope="col">Fieldbook Excavation Year</th>
                                <th scope="col">Fieldbook Page</th>
                                <th scope="col">Goods</th>
                                <th scope="col">Hair</th>
                                <th scope="col">Head Direction</th>
                                <th scope="col">Hair Color</th>
                                <th scope="col">Length</th>
                                <th scope="col">Photos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Facebundles</td>
                                <td>@Model.Fieldbookexcavationyear</td>
                                <td>@Model.Fieldbookpage</td>
                                <td>@Model.Goods</td>
                                <td>@Model.Hair</td>
                                <td>@Model.Headdirection</td>
                                <td>@Model.Haircolor</td>
                                <td>@Model.Length</td>
                                <td>@Model.Photos</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-light bg-light table-custom">
                        <thead>
                            <tr>
                                <th scope="col">Preservation</th>
                                <th scope="col">Samples Collected</th>
                                <th scope="col">Sex</th>
                                <th scope="col">Shaft Number</th>
                                <th scope="col">South to Feet</th>
                                <th scope="col">South to Head</th>
                                <th scope="col">West to Feet</th>
                                <th scope="col">West to Head</th>
                                <th scope="col">Wrapping</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Preservation</td>
                                <td>@Model.Samplescollected</td>
                                <td>@Model.Sex</td>
                                <td>@Model.Shaftnumber</td>
                                <td>@Model.Southtofeet</td>
                                <td>@Model.Southtohead</td>
                                <td>@Model.Westtofeet</td>
                                <td>@Model.Westtohead</td>
                                <td>@Model.Wrapping</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>